
.section-title {
    /* margin: 10rem 0 18rem 0; */
    margin: 10rem auto;
    max-width: 85vw;
    animation: bounceIn 1s; 
    align-items: center;
}

.section-title h1 {
    font-size: 4em;
}

.header-title {
    font-size: 25px;
    color: var(--typewriter);
    padding: 0;
}

.header-subtitle {
    font-size: 1rem;
}

.info-container {
    margin-bottom: 5rem;
    
}

.info-container .information {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin: 2rem 0 ;
    align-items: center;
}

.info-container img {
    width: 100%;
    min-width: 10rem;
    max-width: 15rem;
    display: block;
    /* object-fit: contain; */
    border-radius: 10px;
    animation: fadeIn 1s;
    object-fit: contain;    
    
}

.col a:hover {
    color: white;
    transform: scale(1.3);
    transition: all .2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
    }
}


@media (max-width: 768px) {
    .section-title {
        margin: 10rem auto;
        max-width: 85vw;
    }
    .section-title h1 {
        font-size: 2.5em;
        text-align: left;
    }
    .header-title {
        font-size: 1em;
        text-align: left;   
        position: relative;
        min-height: 5rem;
        height: 100%;
        display: flex;
        align-items: center;
        
    }        

    .info-container .information {
        flex-direction: column;
        gap: 1rem;
        
    }
}