.card {
    background-color: #402b763e;
    padding: 40px;
    border-radius: 2rem;
    border: 1px solid #e5a9ff;
    text-align: left;
    max-width: 50vw;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-style-1 {
    background: linear-gradient(145deg, #372587 10%, #4f2a9f,  #3e0b81 100%);
    padding: 10px;
    border-radius: 1rem;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 30%;
}
.card-style-1 h3 {
    color: #f3e2ff;
    font-size: 1.2rem;
    font-weight: 0.5rem;
    border-bottom: 3px solid #c6a9ffc0;
    margin: 5px;
}

.relevant {
    background-color: #2116525d;
    color: #bd7df6ca;
    margin: 2rem 0 0 0;
    width: 90%;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    font-size: 10px;

}

@media (max-width: 600px) {
    .card {
        max-width: 85vw;
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 5rem;
        
        
    }
    .card-style-1 {
        min-width: 90%;
        margin: 5px 0 ;
        padding: 0;
    }
    .card-style-1 h3 {
        font-size: 1rem;
    }

    .card-mini {
        height: 23vh;
    }
    
}


@media (max-width: 380px) {
    .card-mini {
        height: 23vh;
    }
} 
