.relevant {
    background-color: #2116525d;
    color: #bd7df6ca;
    margin: 2rem 0 0 0;
    width: 90%;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    font-size: 10px;

}

@media (max-width: 600px) {
    .card-style-1 {
        min-width: 90%;
        margin: 5px 0 ;
        padding: 0;
    }
    .card-style-1 h3 {
        font-size: 1rem;
    }

    .card-mini {
        height: 23vh;
    }
    
}


@media (max-width: 380px) {
    .card-mini {
        height: 23vh;
    }
} 
