.card {
    padding: 40px;
    text-align: left;
    margin: auto;
}
.card img {
    display: block;
    min-width: 15rem;
    /* padding: 1rem; */
    /* margin: 0 auto; */
    border-radius: .25rem;
}

.card-style-1 {
    background: linear-gradient(145deg, #372587 10%, #4f2a9f,  #3e0b81 100%);
    padding: 10px;
    border-radius: 1rem;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 30%;
}
.card-style-1 h3 {
    color: #f3e2ff;
    font-size: 1.2rem;
    font-weight: 0.5rem;
    border-bottom: 3px solid #c6a9ffc0;
    margin: 5px;
}

@media (max-width: 700px) {
    .card {
        width: 100%;
        max-width: 85%;
        /* min-width: 95vw; */
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 5rem;
        
        
    }
}
