:root {
    --math-color-1: #ffffff;
    --math-color-2: #f59907;
    --math-color-3: #ecebf5;
}

.math-background {
    background:rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: rgb(246, 246, 255);
}

.math-background h1 {
    color: rgba(37, 149, 255, 0.916);
    text-shadow: 4px 4px #0d0d0d3c;
}

.math-landing-page-img {
    width: 100vw;
    height: auto;
    display: flex;
    object-fit: contain;
    position: absolute;
    left: 0%;
    top: 0%;
    /* transform: translate(20%, 20%); */
    z-index: -1;
}
.math-background-card {
    z-index: 1;
    width: 30rem;
    height: 30rem;
    align-items: left;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
    margin-top: 6rem;
    margin-left: 5rem;
}
.math-background-card p {
    color: var(--math-color-3);
    font-weight: 100;
    line-height: 1.5;
}
.math-background-card h1 {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.1;
    color: var(--math-color-1);
    margin: 0;
}

.math-navbar {
    position: relative;
    display: flex;
    justify-content: end;
    gap: 5rem;
    margin-right: 5vw;
    flex-direction: row;
    padding: 2rem;
}

.math-navbar a {
    color:#f59907;
    font-weight: 300;
    font-size: 1.2rem;
}
