.menu-icon {
    width: 50px;
    height: 50px;
    display: flex;
    padding: 0 0 0 30px;
    cursor: pointer;
}
.menu {
    background: linear-gradient(rgb(47, 22, 71), rgb(14, 14, 101));
    height: 100%;
    min-width: 20%;
    margin: 0;
    padding: 3rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    text-align: left;
    transition: transform 0.3s ease-out;  
    flex-direction: column;
    z-index: 100;
    gap: 2rem;
    box-shadow: -1rem 0 5rem 0 rgba(0, 0, 0, .5)
}

.menu.menu-close {
    display:flex;
    animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.menu.menu-open {
    display: flex;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.menu a {
    padding: 1rem .5rem;
    text-decoration: none;
    font-size: 1.5em;
    max-height: 1rem;
    transition: all 0.3s;
}

.link-with-icon a{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.menu a:active, .menu a:hover {
    color: var(--typewriter);
    /* transform: scale(1.05); */
}

@keyframes slide-in-right {
    0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    }
}
@keyframes slide-out-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(1000px);
        opacity: 0;
    }
}

@media screen and (max-width: 768px){
    .menu {
        min-width: 30%;
    }
    .menu a {
        transition: all 0.2s;
    }
    .menu a:active {
        transform: scale(1.5);
    }
}