
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
} 


.col {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
    }

    .col {
        flex-direction: row;
        width: 100%;
    }

}
